
{% extends "base.html" %}
{% comment %} This page is for listing all the files based on the categorization {% endcomment %}
{% load wagtailcore_tags %}
{% block content %}

    <h1 style="color: white;" name="test2"> Filter by: </h1>
    <br>

    <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin:0 auto; width:50%;">
        {% for element in collections %}
            <a href = "{% url 'resolve' serial=element.1%}">
                <button type="button" class="btn btn-primary">{{ element.1 }}</button>
            </a>
            &ensp;&ensp;
        {% endfor %}
    </div>
    <br>
    <br>
    <br>
    <br>
    {% if selected_choice is not None %}
        <h1 style="color: white;"> {{ selected_choice }} </h1>
    {% endif %}
    <br>
    {% if docs is not None %}
        {% for doc in docs %}
            <ul>
                <li style="color: #62c7cc;">
                    <a href = "{{ doc.url }}">
                    <div class="card text-white bg-primary mb-3" style="display: inline-block; min-height: 1px;">
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">{{ doc }}</h5>
                        </div>
                    </div>
                    </a>
                </li>
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}
