{% extends "base.html" %}
{% comment %} This file is for categorizing each file into their collection. {% endcomment %}
{% load wagtailcore_tags %}

{% block content %}
    <h1 style="color: white;">{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% for post in page.get_children %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
    {% endfor %}

{% endblock %}