
{% extends "base.html" %}
{% comment %} This page is for listing all the files based on the categorization {% endcomment %}
{% load wagtailcore_tags %}
{% block content %}

    <h1 style="color: white;"> {{ page.title }} </h1>
    {% for doc in docs %}
        <a href = "{{ doc.url }}">
            <ul>
                <li>
                    <div class="card text-white bg-primary mb-3" style="display: inline-block; min-height: 1px;">
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">{{ doc }}</h5>
                        </div>
                    </div>
                </li>
            </ul>
        </a>
    {% endfor %}

{% endblock %}
